/*google fonts*/
@import url(https://fonts.googleapis.com/css?family=Allura);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Lato);
.allura {font-family:Allura,sans-serif}
.nunito {font-family:Nunito,sans-serif}
/*--font styles--*/
.me-text-small {font-size:60%}
.me-text-large{font-size:105%}

.me-text-caps{text-transform: capitalize}

/*--font format--*/
.me-textcenter {text-align:center}

/*--font colors--*/
.me-textcolor-primary, .me-textcolor {
    color: ;
}

.me-textcolor- {
    
}

/*--Forms--*/

/*inputs + text area*/
.me-input-group input, [type=submit], .me-input-group textarea {
    font-family: lato, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.me-input-group input, .me-input-group textarea {
    background: #fff;
    border: 1px solid #bdc3c7;
    margin: 15px 0px;
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s;
    font-size: 18px;
}

.me-input-group textarea {
    max-width: 100%;
    height: 300px;
    max-height: 400px;
}

.me-input-group input:focus, .me-input-group textarea:focus {
    outline: none;
    border: 1px solid rgba(52,152,219,.5);
    box-shadow: 0 0 5px #2980b9;
}

/*place holder style*/
.me-input-group input::-webkit-input-placeholder {
    color: rgba(80,80,80,.5);
}
.me-input-group input::-moz-placeholder {
    color: rgba(80,80,80,.5);
}
.me-input-group input:-ms-input-placeholder {
    color: rgba(80,80,80,.5);
}
.me-input-group input:-moz-placeholder {
    color: rgba(80,80,80,.5);
}

/*submit*/
.me-input-group [type=submit] {
    border: 0px;
    border: none;
    color: rgba(80,80,80,1);
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
    padding: 10px 20px;
}
.me-input-group [type=submit]:hover {
    outline: none;
    box-shadow: 0 0 4px #2980b9;
}